<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: Request Header Parser Microservice</h2>
        <p>
          In this project all you have to do is enter the following to the URL above and you will have all the details about your machine.
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://www.codepen.io/AndrewAS" target="_blank">Andrew Siachos</a>
        </p>
      </div>
   </body>


</html>
